<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yj.mapper.UserMapper">

    <insert id="saveUser"  useGeneratedKeys="true" keyProperty="id" parameterType="User">
        insert into users(id,user_name,passwd) values(#{id},#{user_name},#{passwd})
    </insert>

    <select id="userLogin" resultType="User" parameterType="java.util.Map">
        select * from users where user_name=#{user_name} and passwd=#{passwd}
    </select>



</mapper>